/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.menu-item a:hover{
	color: blueviolet!important;
}
.center-div{
	display: flex;
	justify-content: center;
	align-items: center;
}